.event-list{
    display: flex;
    gap: 10px;
    @media(min-width: 768px){
    gap: 23px;
}
@media(min-width: 1220px){
    gap: 66px;
}
}

.event-list__title{
    font-family:  "Montserrat", sans-serif;
font-weight: 700;
font-size: 14px;
text-align: center;
color: #dc56c5;
margin-bottom: 7px;
@media(min-width: 1220px){
    font-size: 16px;
    margin-bottom: 10px;
}
}
.event-list__date{
    font-family:  "Montserrat", sans-serif;
font-weight: 400;
font-size: 14px;
text-align: center;
color: #fff;
margin-bottom: 7px;
@media(min-width: 1220px){
    font-size: 16px;
    margin-bottom: 9px;
}
}

.event-list__location{
    font-family:  "Montserrat", sans-serif;
font-weight: 600;
font-size: 12px;
text-align: center;
color: #fff;
@media(min-width: 768px){
    font-size: 14px;
}
}
.event-list__img{
    border-radius: 50px 0;
width: 100%;
height: 100%;
}
